.main{
    margin: 0px;
    padding-top: 20px ;
    border-radius: 10px;
    background-image: var(--primary-color);
    height: 100%;  
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:var(--secondary-color);
    margin: 5px 30px 5px 30px;
    height: 60px;
    border-radius: 10px;
}
:root{
    --primary-color:linear-gradient(to bottom,rgb(3, 3, 20),rgb(0,0,0),rgb(3, 3, 34),black);
    --secondary-color:linear-gradient(to right ,rgba(10, 10, 19, 0.959),rgba(8, 13, 53, 0.473),rgba(1, 25, 78, 0.521));
    --text-color:linear-gradient(white,blue)
}
.light-theme{
    --primary-color:linear-gradient(to bottom,rgb(214, 214, 255),rgb(91, 109, 190),rgb(3, 3, 34),black);
    --secondary-color:linear-gradient(to right ,rgba(10, 10, 19, 0.959),rgba(8, 13, 53, 0.473),rgba(1, 25, 78, 0.521));
    --secondary-color-rev:linear-gradient(to right,rgba(1, 25, 78, 0.521),rgba(8, 13, 53, 0.473),rgba(10, 10, 19, 0.959));
    --text-color:linear-gradient(white,blue)
    /* --arrow-color : linear-gradient(to bottom,white,black) */
}

.pd{
    background: var(--secondary-color);
    padding: 1.5rem;
    margin: 0 30px;
    border-radius: 10px;
    padding-top: 2.5rem;
}
.title{
    position: absolute;
    font-family: "Inter", "gentium plus" ;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-left: 1rem;
    text-shadow: 0px 0px 1px rgb(255, 255, 255);
    color: #ffffff;
}
.cb{
    color: rgb(0, 0, 0);
    font-size: 30px;
    position: absolute;
    right: 40px;
    cursor: pointer;
    text-align: center;
}
.cb i{
    color: white;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}
#check{
    display: none ;
}
h3{
    font-family:"Inter", "gentium plus";
    font-size: 18px;
    text-align: center;
    margin: 3rem 2rem 0rem;
    letter-spacing: 0.2px;
    text-shadow: 2px 5px 20px rgb(63, 63, 63);
    color: white;
}
@media (min-width: 395px){
    h3{
        font-size: 21px;
    }
}
.fs{
    display: flex;
    justify-content: space-evenly;
    border: none;
   
}
.btn-outline-primary{
    border-radius: 40px;
    border-width: 2px;
    font-size: 18px;
    padding: 5px 20px;

}
.btn-outline-primary:hover{
    box-shadow: 0px 0px 26px rgb(6, 0, 58);

}
.dd{
    position: relative;
    margin: 1.5rem 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.dt{
    font-size: 18px;
    color: #ffffff;
    margin-right: 5px;
}
.subs{
    margin: 20px;
    display: flex;
    overflow-x: auto;
}
.subs::-webkit-scrollbar{
   width: 0;
}
.subs .btn{
    margin: 0px 13px;
    border-radius: 16px;
    padding: 5px 13px;
    border-width: 2px;

}
.subs .btn:hover{
    background:var(--secondary-color);
}
.btn-clicked{
    background:var(--primary-color);
}
.s1{
    margin-left: 38px;
    font-size: 20px;
    color: white;
    
}
.container .sem{
    margin-left: 38px;
    margin-top: 50px;
    font-weight: 400;

}
.card{
    margin: 20px;
    height: 2.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    border: 2.5px solid rgb(50, 50, 100);
    color: rgb(12, 11, 82);
    border-radius: 12px;
    background-color: rgb(211, 211, 238);
    font-weight: 500;

}
.card:hover{
    font-weight: 400;
    color: white;
    background-color:#0f59c7;
    box-shadow: 2px 10px 15px rgba(8, 8, 78, 0.5);
    transform: scale(1.03);
    transition-duration: 0.5s;
    border: 2.3px solid rgba(8,8,78,0.5);

    
}

.card i{
    color: rgb(9, 8, 51);
    cursor: pointer;
}
.card i:hover{
    color: rgb(255, 255, 255);

}
.sub h5{
    color:  rgb(179, 175, 226); 
    padding: 8px 26px; 
    cursor:auto;
}
.sub{
    text-align: center; 
    margin-top: 60px;
}
.footer{
    position: relative;
    margin-top: 80px;
   
    height:150px;
    max-width: 100%;
}
.cr{
  
    text-align: center;
    padding-top: 50px;
    
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.em{
    margin: 10px;
}
.in{
    margin: 10px;
}
.li{
    margin: 10px;
}
.em:hover{
    transform: scale(1.2);
    transition: 0.5s;
    color: white;
}
.in:hover{
    transform: scale(1.2);
    transition: 0.5s;
    color: white;
}
.li:hover{
    transform: scale(1.2);
    transition: 0.5s;
    color: white;
}
h5{
    color: white;
}
.dropdown-toggle{
    color:#ffffff;
    background:var(--secondary-color);
    border:2px solid rgb(70, 82, 100);
    border-radius: 16px;
    font-size: 15px;
    margin: 0px 2px;
}
.dropdown-toggle:hover{
    color:#ffffff;
    background:var(--primary-color);
    border:2px solid rgb(70, 82, 100);
    border-radius: 16px;
    font-size: 15px;
}
.fr{
    background:var(--secondary-color);
    border-color: black,blue;
    box-shadow: 0px 0px 26px rgb(6, 0, 58);
    color: white;
}
.fr:hover{
    background:var(--secondary-color);
    border-color: black,blue;
    box-shadow: 0px 0px 26px rgb(6, 0, 58);
    color:white;
}
.se{
    color: white;
    background-color: #0f59c7;
}
.se:hover{
    background:var(--secondary-color);
    border-color: black,blue;
    box-shadow: 0px 0px 26px rgb(6, 0, 58);
    color:#0f59c7;
}
.text{
    text-align: center;
    padding-top: 40px;
    
}
.text button{
    padding: 0px 25px;
    color: white;
    background:var(--secondary-color);
    border: 2px solid rgba(255, 255, 255, 0.459);
    border-radius: 50px 1px ;
}
.se-subs1 button{
    margin: 10px 20px;
    padding: 5px 13px;
} 
.se-subs1 .btn:hover{
    box-shadow: 0px 1px 25px rgb(16, 6, 100,0.6);
    transform: scaleX(1.05);
    background:var(--secondary-color);
}
.se-subs1 .btn{
    border-radius: 16px;
    border-width: 2px;
}
.btn-clicked{
    background:var(--primary-color);
}

@media (min-width: 800px) {

    #subjects{ 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 670px;
        margin: 30px;
        background:var(--secondary-color);
        opacity: 10px;
        border-radius: 16px;
        flex: 1 1 400px;

    }
    .subs{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
    .subs .btn{
        margin: 18px 15px;
    }
    .s1 i{
        display: none;
    }
    .s1{
        margin-left: 0px;
        margin: 20px -1px 34px -1px;
        text-align: center;
        background:var(--secondary-color);
        border: 2px solid rgba(255, 255, 255, 0.459);
        border-radius: 1px 50px;
    }
    .hr2{
        display: none;
    }
    .container{
        background:var(--secondary-color);
        opacity: 10px;
        border-radius: 16px;
        width: 900px;
        height: 670px;
        margin: 30px;
        padding: 30px 50px 0px 50px;
        flex:10 4 900px;
    }
    .sub{
        margin: 8px 0px;
        cursor:auto;
       
    }
    .sub button{
        border: 2px solid rgba(255, 255, 255, 0.459);
        border-radius: 50px 1px;
        background:var(--secondary-color);
        text-align: center;
        padding: 5px 60px;
        color: white;
    }
    .section{
        display:flex;
        flex-direction: row;
    }
    .subs .btn:hover{
        box-shadow: 0px 1px 25px rgb(16, 6, 100,0.6);
        transform: scaleX(1.05);
    }
    /* SENIOR */
    .subjects{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 400px;
        height: 670px;
        margin: 30px;
        background:var(--secondary-color);
        opacity: 10px;
        border-radius: 16px;
        flex: 1 1 400px;
    }
    .label{
        text-align: center;
        margin-left: 5px;
        height: 10px;
        width: 10px;
        margin: 0px 8px;
        border-radius: 50%;
        border: none;
        background-color: rgb(0, 0, 0);
    }
    .label:hover{
        background-color: white;
        transition: 0.6s;
        background:var(--secondary-color);
    }
    .labels{
        margin-left: 12px;
        margin-bottom: 70px;
    }
    .se-subs1{
        display: flex;
        flex-direction: column;
        margin-left:20px;
    }
    #last-sub{
        margin-right:20px;
    }
    .subjects .slides{
        height: 29rem;
        margin: 0px 30px ;
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: rgba(0, 0, 0, 0);
        overflow-x: auto;
    }
    .slides::-webkit-scrollbar{
        width: 0;
    }
    .se-subs1 button{
        margin: 30px 20px 10px 20px;
    }
    .text button{
        border: 2px solid rgba(255, 255, 255, 0.459);
        border-radius: 50px 1px;
        background:var(--secondary-color);
        text-align: center;
        padding: 5px 40px;
        color: white;
    }
    .slides1 .se-subs2 {
        display: none;
        background-color: red;
    }
    .subjects1{
        display: none;
    }
}
@media (max-width:800px){
    .labels{
        display: none;
    }
    .subjects{
        display: none;
    }
    .slides{
        display: none;
    }
    .subjects1{ 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        width: auto 0;
        height: 500px;
        margin: 30px;
        background:var(--secondary-color);
        opacity: 10px;
        border-radius: 16px;
        flex: 1 1 400px;
        overflow: auto;
    }
    .slides1{
        margin-top:60px ;
        height: 300px;
        width: auto 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: auto;
    }
    .se-subs2{
        display: flex;
        flex-direction: column ;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0px 20px ;
    }
    .se-subs2 button{
        margin-bottom: 25px;
    }
    .slides1::-webkit-scrollbar{
        width: 0;
    }
    .arrow i{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        color: white;
        position: relative;
        width: 240px;
        bottom: 40px;
        background :linear-gradient(to bottom ,rgba(1, 25, 78, 0.1),rgba(0, 17, 53, 0.8));
    } 
    .se-subs2 .btn:hover{
        box-shadow: 0px 1px 25px rgb(16, 6, 100,0.6);
        transform: scaleX(1.05);
        background:var(--secondary-color);
    }
    .se-subs2 .btn{
        border-radius: 16px;
        border-width: 2px;
    }
}













